{% extends '../Base/base.html' %}
{% load static %}

{% block title %}
	Page not found - 404
{% endblock title %}

{% block extra_head %}
  <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  -->
  <link href="{% static 'css/404.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}

  <section class="page_404">
    <div class="container">
      <div class="row">	
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg">
        <h1 class="text-center ">404</h1>
      
      
      </div>
      
      <div class="contant_box_404">
      <h3 class="h2">
      Look like you're lost
      </h3>
      
      <p>the page you are looking for not avaible!</p>
      
      <a href="{% url 'index' %}" class="link_404">Go to Home</a>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>

{% endblock content %}
