/**********************************/
/**********LOGIN AND REGISTER******/
/**********************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/**VARIABLES**/

body{
    height:100%;
    position: relative;

}


:root{
    --primary-color: #fff5d1;
    --register-color: pink;
    --second-color: #ffffff;
    --black-color: #000000;
}

/**reusable**/

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover{
    text-decoration: underline;
}

/**wrapper***/

.wrapper{

    background-image:url('../img/bgLogin.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;
    
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}


.wrapper-register{
    background-image:url('../img/bgRegistration.png');

}

.login_box, .register_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color); 
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.register_box{
    border: 2px solid var(--register-color);
}

.login-header, .register-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width:140px;
    height:70px;
    border-radius: 0 0 20px 20px;
}

.register-header{
    background-color: var(--register-color);
}

.login-header span, .register-header span{
    font-size: 30px;
    color: var(--black-color);
    font-family: "Rubik", sans-serif;
}

.login-header::before, .register-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height:30px;
    border-top-right-radius: 50% ;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}


.login-header::after, .register-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height:30px;
    border-top-left-radius: 50% ;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}


.register-header::before{
    box-shadow: 15px 0 0 0 var(--register-color);
}

.register-header::after{
    box-shadow: -15px 0 0 0 var(--register-color);
}
.input_box{
    position: relative;
    display:flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field{
    width:100%;
    height:55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}

#user{
    margin-bottom: 10px;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot, .privacy-policy{
    display:flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit{
    width:100%;
    height:50px;
    background-color: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
}

.input-submit:hover{
    background-color: var(--second-color);
}

.register, .login{
    text-align: center;
}

.register a,.login a{
    font-weight: 500;
}

.login{
    margin-top: 20px
}

@media only screen and (max-width: 564px ){
    .wrapper{
        padding:20px;
    }

    .login_box{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

.accept-privacy a{
    font-weight: 500;
}

/**********************************/
/**EXCLUSIVE FOR REGISTER FORM**/
/**********************************/

.item-register{
    flex:1;
}

/**SPEECH BUBBLE**/

.bubble {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 300px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    -webkit-mask-composite: source-over; /* Added for compatibility */
    mask-composite: source-over; /* Added for compatibility */
    mask:
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(90deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%) border-box;
    color: #fff;
}

  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
  }

  
.imgLuna{
    height:150px;
    width:150px;
    background-image:url('../img/lunaCircle.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.599));
    
}

.lunaBubble{
    display:flex;
    justify-content: center;
    margin-top:400px;
}
