.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(82vw, 11vh, 96px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.98;
  animation-delay: -0.2s;
  transform: translate3d(65vw, 5vh, 69px);
  background: hsl(316, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(79vw, 55vh, 93px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.27;
  animation-delay: -0.4s;
  transform: translate3d(21vw, 69vh, 21px);
  background: hsl(149, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(67vw, 11vh, 21px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.44;
  animation-delay: -0.6s;
  transform: translate3d(83vw, 46vh, 19px);
  background: hsl(167, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(12vw, 35vh, 33px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.75;
  animation-delay: -0.8s;
  transform: translate3d(74vw, 26vh, 65px);
  background: hsl(4, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(21vw, 28vh, 41px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.63;
  animation-delay: -1s;
  transform: translate3d(61vw, 10vh, 42px);
  background: hsl(213, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(86vw, 39vh, 78px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.46;
  animation-delay: -1.2s;
  transform: translate3d(23vw, 59vh, 68px);
  background: hsl(311, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(12vw, 27vh, 18px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.92;
  animation-delay: -1.4s;
  transform: translate3d(88vw, 87vh, 4px);
  background: hsl(328, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(12vw, 42vh, 25px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.05;
  animation-delay: -1.6s;
  transform: translate3d(32vw, 51vh, 49px);
  background: hsl(80, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(1vw, 24vh, 3px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.4;
  animation-delay: -1.8s;
  transform: translate3d(10vw, 67vh, 35px);
  background: hsl(345, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(10vw, 1vh, 28px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.32;
  animation-delay: -2s;
  transform: translate3d(83vw, 73vh, 98px);
  background: hsl(330, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(6vw, 72vh, 79px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.81;
  animation-delay: -2.2s;
  transform: translate3d(22vw, 58vh, 96px);
  background: hsl(204, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(16vw, 70vh, 11px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.56;
  animation-delay: -2.4s;
  transform: translate3d(63vw, 87vh, 80px);
  background: hsl(42, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(31vw, 9vh, 16px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.01;
  animation-delay: -2.6s;
  transform: translate3d(21vw, 51vh, 67px);
  background: hsl(153, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(57vw, 36vh, 12px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.1;
  animation-delay: -2.8s;
  transform: translate3d(36vw, 77vh, 1px);
  background: hsl(175, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 14vh, 85px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.32;
  animation-delay: -3s;
  transform: translate3d(20vw, 56vh, 90px);
  background: hsl(333, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(21vw, 85vh, 1px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.43;
  animation-delay: -3.2s;
  transform: translate3d(60vw, 30vh, 95px);
  background: hsl(301, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(31vw, 16vh, 56px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.68;
  animation-delay: -3.4s;
  transform: translate3d(30vw, 50vh, 12px);
  background: hsl(153, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(49vw, 27vh, 66px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.44;
  animation-delay: -3.6s;
  transform: translate3d(57vw, 73vh, 83px);
  background: hsl(216, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(58vw, 27vh, 20px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.35;
  animation-delay: -3.8s;
  transform: translate3d(89vw, 69vh, 83px);
  background: hsl(135, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(9vw, 27vh, 99px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.03;
  animation-delay: -4s;
  transform: translate3d(72vw, 36vh, 22px);
  background: hsl(216, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(9vw, 83vh, 49px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.01;
  animation-delay: -4.2s;
  transform: translate3d(77vw, 14vh, 34px);
  background: hsl(14, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(12vw, 28vh, 98px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.62;
  animation-delay: -4.4s;
  transform: translate3d(80vw, 63vh, 40px);
  background: hsl(89, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(60vw, 59vh, 10px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.63;
  animation-delay: -4.6s;
  transform: translate3d(51vw, 69vh, 9px);
  background: hsl(21, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(66vw, 81vh, 39px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.94;
  animation-delay: -4.8s;
  transform: translate3d(58vw, 52vh, 12px);
  background: hsl(268, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(19vw, 37vh, 50px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.13;
  animation-delay: -5s;
  transform: translate3d(47vw, 81vh, 72px);
  background: hsl(127, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(75vw, 83vh, 5px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.72;
  animation-delay: -5.2s;
  transform: translate3d(90vw, 11vh, 26px);
  background: hsl(240, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(50vw, 59vh, 58px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.28;
  animation-delay: -5.4s;
  transform: translate3d(38vw, 47vh, 73px);
  background: hsl(81, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(46vw, 64vh, 23px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.15;
  animation-delay: -5.6s;
  transform: translate3d(53vw, 36vh, 15px);
  background: hsl(274, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(90vw, 5vh, 60px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.87;
  animation-delay: -5.8s;
  transform: translate3d(21vw, 39vh, 18px);
  background: hsl(278, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(15vw, 9vh, 9px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.41;
  animation-delay: -6s;
  transform: translate3d(16vw, 13vh, 48px);
  background: hsl(123, 70%, 50%);
}