.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(76vw, 12vh, 44px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.64;
  animation-delay: -0.2s;
  transform: translate3d(44vw, 84vh, 83px);
  background: hsl(183, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(6vw, 40vh, 47px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.33;
  animation-delay: -0.4s;
  transform: translate3d(75vw, 21vh, 58px);
  background: hsl(296, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(76vw, 7vh, 57px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.26;
  animation-delay: -0.6s;
  transform: translate3d(23vw, 57vh, 30px);
  background: hsl(296, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(44vw, 29vh, 77px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.99;
  animation-delay: -0.8s;
  transform: translate3d(16vw, 37vh, 46px);
  background: hsl(105, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(76vw, 54vh, 30px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.14;
  animation-delay: -1s;
  transform: translate3d(74vw, 78vh, 60px);
  background: hsl(263, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(36vw, 74vh, 8px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.72;
  animation-delay: -1.2s;
  transform: translate3d(37vw, 9vh, 14px);
  background: hsl(206, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(2vw, 29vh, 53px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.7;
  animation-delay: -1.4s;
  transform: translate3d(25vw, 15vh, 19px);
  background: hsl(38, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(47vw, 14vh, 26px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.6;
  animation-delay: -1.6s;
  transform: translate3d(86vw, 62vh, 69px);
  background: hsl(141, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(13vw, 61vh, 73px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.59;
  animation-delay: -1.8s;
  transform: translate3d(52vw, 56vh, 24px);
  background: hsl(287, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(11vw, 26vh, 54px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.35;
  animation-delay: -2s;
  transform: translate3d(55vw, 85vh, 64px);
  background: hsl(209, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(44vw, 3vh, 78px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.1;
  animation-delay: -2.2s;
  transform: translate3d(39vw, 84vh, 16px);
  background: hsl(299, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(10vw, 35vh, 23px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.9;
  animation-delay: -2.4s;
  transform: translate3d(32vw, 34vh, 92px);
  background: hsl(327, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(86vw, 55vh, 11px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.94;
  animation-delay: -2.6s;
  transform: translate3d(30vw, 83vh, 47px);
  background: hsl(54, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(23vw, 47vh, 83px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.5;
  animation-delay: -2.8s;
  transform: translate3d(30vw, 78vh, 32px);
  background: hsl(34, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(46vw, 18vh, 57px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.81;
  animation-delay: -3s;
  transform: translate3d(76vw, 25vh, 36px);
  background: hsl(199, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(82vw, 70vh, 17px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.63;
  animation-delay: -3.2s;
  transform: translate3d(17vw, 6vh, 67px);
  background: hsl(271, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(21vw, 28vh, 4px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.65;
  animation-delay: -3.4s;
  transform: translate3d(70vw, 29vh, 26px);
  background: hsl(238, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(70vw, 4vh, 62px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.27;
  animation-delay: -3.6s;
  transform: translate3d(28vw, 46vh, 45px);
  background: hsl(308, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(45vw, 19vh, 73px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.94;
  animation-delay: -3.8s;
  transform: translate3d(85vw, 79vh, 7px);
  background: hsl(318, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(69vw, 11vh, 42px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.01;
  animation-delay: -4s;
  transform: translate3d(86vw, 83vh, 69px);
  background: hsl(232, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(50vw, 53vh, 24px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.28;
  animation-delay: -4.2s;
  transform: translate3d(49vw, 22vh, 39px);
  background: hsl(86, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(49vw, 63vh, 86px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.8;
  animation-delay: -4.4s;
  transform: translate3d(10vw, 60vh, 48px);
  background: hsl(220, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(5vw, 79vh, 85px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.26;
  animation-delay: -4.6s;
  transform: translate3d(70vw, 80vh, 82px);
  background: hsl(167, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(78vw, 24vh, 11px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.78;
  animation-delay: -4.8s;
  transform: translate3d(29vw, 8vh, 25px);
  background: hsl(82, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(54vw, 63vh, 48px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.62;
  animation-delay: -5s;
  transform: translate3d(77vw, 3vh, 57px);
  background: hsl(121, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(4vw, 27vh, 83px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.98;
  animation-delay: -5.2s;
  transform: translate3d(86vw, 17vh, 69px);
  background: hsl(81, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(25vw, 28vh, 78px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.83;
  animation-delay: -5.4s;
  transform: translate3d(10vw, 54vh, 52px);
  background: hsl(291, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(14vw, 83vh, 43px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.44;
  animation-delay: -5.6s;
  transform: translate3d(37vw, 22vh, 12px);
  background: hsl(137, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(76vw, 49vh, 55px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.09;
  animation-delay: -5.8s;
  transform: translate3d(66vw, 34vh, 92px);
  background: hsl(110, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(87vw, 76vh, 95px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.28;
  animation-delay: -6s;
  transform: translate3d(88vw, 37vh, 49px);
  background: hsl(213, 70%, 50%);
}