.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(84vw, 71vh, 6px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.75;
  animation-delay: -0.2s;
  transform: translate3d(71vw, 33vh, 17px);
  background: hsl(97, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(49vw, 76vh, 24px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.69;
  animation-delay: -0.4s;
  transform: translate3d(36vw, 58vh, 81px);
  background: hsl(245, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(52vw, 12vh, 2px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.5;
  animation-delay: -0.6s;
  transform: translate3d(65vw, 90vh, 5px);
  background: hsl(172, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(38vw, 47vh, 85px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.37;
  animation-delay: -0.8s;
  transform: translate3d(72vw, 67vh, 97px);
  background: hsl(227, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(66vw, 87vh, 14px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.47;
  animation-delay: -1s;
  transform: translate3d(77vw, 63vh, 45px);
  background: hsl(152, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(29vw, 6vh, 11px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.39;
  animation-delay: -1.2s;
  transform: translate3d(58vw, 84vh, 65px);
  background: hsl(75, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(69vw, 2vh, 23px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.71;
  animation-delay: -1.4s;
  transform: translate3d(7vw, 13vh, 68px);
  background: hsl(158, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(20vw, 60vh, 31px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.5;
  animation-delay: -1.6s;
  transform: translate3d(46vw, 20vh, 65px);
  background: hsl(22, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(29vw, 26vh, 78px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.7;
  animation-delay: -1.8s;
  transform: translate3d(28vw, 59vh, 23px);
  background: hsl(183, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(63vw, 42vh, 40px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.71;
  animation-delay: -2s;
  transform: translate3d(68vw, 82vh, 30px);
  background: hsl(87, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(49vw, 75vh, 84px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.02;
  animation-delay: -2.2s;
  transform: translate3d(10vw, 26vh, 33px);
  background: hsl(323, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(30vw, 67vh, 41px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.21;
  animation-delay: -2.4s;
  transform: translate3d(43vw, 47vh, 58px);
  background: hsl(20, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(80vw, 2vh, 66px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.76;
  animation-delay: -2.6s;
  transform: translate3d(31vw, 81vh, 45px);
  background: hsl(225, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(17vw, 43vh, 71px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.73;
  animation-delay: -2.8s;
  transform: translate3d(68vw, 17vh, 69px);
  background: hsl(19, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(35vw, 8vh, 65px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.69;
  animation-delay: -3s;
  transform: translate3d(33vw, 16vh, 30px);
  background: hsl(94, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(76vw, 59vh, 6px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.43;
  animation-delay: -3.2s;
  transform: translate3d(90vw, 40vh, 88px);
  background: hsl(145, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(40vw, 36vh, 92px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.32;
  animation-delay: -3.4s;
  transform: translate3d(32vw, 43vh, 87px);
  background: hsl(351, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(62vw, 73vh, 39px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.63;
  animation-delay: -3.6s;
  transform: translate3d(75vw, 75vh, 62px);
  background: hsl(330, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(19vw, 21vh, 39px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.64;
  animation-delay: -3.8s;
  transform: translate3d(11vw, 88vh, 72px);
  background: hsl(72, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(68vw, 25vh, 27px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.56;
  animation-delay: -4s;
  transform: translate3d(73vw, 86vh, 69px);
  background: hsl(260, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(26vw, 3vh, 66px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.26;
  animation-delay: -4.2s;
  transform: translate3d(86vw, 4vh, 28px);
  background: hsl(5, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(73vw, 5vh, 52px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.74;
  animation-delay: -4.4s;
  transform: translate3d(80vw, 33vh, 51px);
  background: hsl(351, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(43vw, 62vh, 87px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.06;
  animation-delay: -4.6s;
  transform: translate3d(13vw, 70vh, 79px);
  background: hsl(54, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(63vw, 60vh, 54px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.38;
  animation-delay: -4.8s;
  transform: translate3d(32vw, 6vh, 84px);
  background: hsl(30, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(45vw, 17vh, 14px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.38;
  animation-delay: -5s;
  transform: translate3d(27vw, 58vh, 34px);
  background: hsl(113, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(87vw, 59vh, 39px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.42;
  animation-delay: -5.2s;
  transform: translate3d(78vw, 83vh, 98px);
  background: hsl(143, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(39vw, 1vh, 5px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.97;
  animation-delay: -5.4s;
  transform: translate3d(43vw, 50vh, 64px);
  background: hsl(292, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(4vw, 78vh, 41px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.82;
  animation-delay: -5.6s;
  transform: translate3d(42vw, 25vh, 97px);
  background: hsl(347, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(88vw, 15vh, 6px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.69;
  animation-delay: -5.8s;
  transform: translate3d(17vw, 22vh, 47px);
  background: hsl(175, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(16vw, 34vh, 73px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.95;
  animation-delay: -6s;
  transform: translate3d(49vw, 68vh, 77px);
  background: hsl(12, 70%, 50%);
}