.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(18vw, 80vh, 30px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.14;
  animation-delay: -0.2s;
  transform: translate3d(33vw, 73vh, 2px);
  background: hsl(117, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(70vw, 48vh, 21px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.95;
  animation-delay: -0.4s;
  transform: translate3d(30vw, 14vh, 10px);
  background: hsl(254, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(63vw, 44vh, 57px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.64;
  animation-delay: -0.6s;
  transform: translate3d(68vw, 43vh, 95px);
  background: hsl(312, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(85vw, 50vh, 17px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.14;
  animation-delay: -0.8s;
  transform: translate3d(86vw, 38vh, 61px);
  background: hsl(289, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(48vw, 54vh, 48px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.72;
  animation-delay: -1s;
  transform: translate3d(65vw, 8vh, 5px);
  background: hsl(8, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(39vw, 20vh, 42px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 1;
  animation-delay: -1.2s;
  transform: translate3d(26vw, 75vh, 36px);
  background: hsl(96, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(53vw, 68vh, 83px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.35;
  animation-delay: -1.4s;
  transform: translate3d(68vw, 72vh, 30px);
  background: hsl(238, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(56vw, 15vh, 18px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.96;
  animation-delay: -1.6s;
  transform: translate3d(62vw, 82vh, 38px);
  background: hsl(358, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(12vw, 90vh, 44px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.54;
  animation-delay: -1.8s;
  transform: translate3d(75vw, 82vh, 31px);
  background: hsl(111, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(36vw, 49vh, 30px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.34;
  animation-delay: -2s;
  transform: translate3d(9vw, 53vh, 33px);
  background: hsl(57, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(84vw, 26vh, 25px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.87;
  animation-delay: -2.2s;
  transform: translate3d(70vw, 60vh, 13px);
  background: hsl(335, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(35vw, 11vh, 68px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.04;
  animation-delay: -2.4s;
  transform: translate3d(50vw, 69vh, 5px);
  background: hsl(31, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(24vw, 67vh, 37px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.75;
  animation-delay: -2.6s;
  transform: translate3d(38vw, 6vh, 26px);
  background: hsl(97, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(43vw, 89vh, 76px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.31;
  animation-delay: -2.8s;
  transform: translate3d(65vw, 39vh, 90px);
  background: hsl(93, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(42vw, 24vh, 82px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.73;
  animation-delay: -3s;
  transform: translate3d(78vw, 38vh, 75px);
  background: hsl(50, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(5vw, 11vh, 32px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.79;
  animation-delay: -3.2s;
  transform: translate3d(8vw, 63vh, 95px);
  background: hsl(110, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(11vw, 83vh, 38px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.01;
  animation-delay: -3.4s;
  transform: translate3d(10vw, 51vh, 13px);
  background: hsl(260, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(52vw, 51vh, 16px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.71;
  animation-delay: -3.6s;
  transform: translate3d(68vw, 57vh, 44px);
  background: hsl(252, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(17vw, 50vh, 73px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 1;
  animation-delay: -3.8s;
  transform: translate3d(85vw, 52vh, 19px);
  background: hsl(2, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(61vw, 42vh, 84px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.45;
  animation-delay: -4s;
  transform: translate3d(75vw, 28vh, 30px);
  background: hsl(19, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(18vw, 63vh, 30px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.44;
  animation-delay: -4.2s;
  transform: translate3d(7vw, 19vh, 93px);
  background: hsl(196, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(39vw, 41vh, 98px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.33;
  animation-delay: -4.4s;
  transform: translate3d(81vw, 56vh, 4px);
  background: hsl(151, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(44vw, 36vh, 61px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.33;
  animation-delay: -4.6s;
  transform: translate3d(72vw, 57vh, 90px);
  background: hsl(355, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(43vw, 52vh, 76px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.82;
  animation-delay: -4.8s;
  transform: translate3d(31vw, 49vh, 51px);
  background: hsl(18, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(60vw, 24vh, 43px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.2;
  animation-delay: -5s;
  transform: translate3d(37vw, 52vh, 11px);
  background: hsl(338, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(87vw, 47vh, 24px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.67;
  animation-delay: -5.2s;
  transform: translate3d(70vw, 82vh, 82px);
  background: hsl(88, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(87vw, 39vh, 82px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.48;
  animation-delay: -5.4s;
  transform: translate3d(33vw, 9vh, 5px);
  background: hsl(245, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(27vw, 60vh, 19px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.82;
  animation-delay: -5.6s;
  transform: translate3d(66vw, 21vh, 12px);
  background: hsl(81, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(81vw, 20vh, 76px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.06;
  animation-delay: -5.8s;
  transform: translate3d(59vw, 57vh, 88px);
  background: hsl(195, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(68vw, 89vh, 30px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.98;
  animation-delay: -6s;
  transform: translate3d(84vw, 3vh, 59px);
  background: hsl(321, 70%, 50%);
}