{% extends '../Base/base-registration.html' %}
{% load static %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
	<div class="wrapper wrapper-reset_password">
		<form class="text-center" method="POST" name="csrfmiddlewaretoken">
		{% csrf_token %}
			<div class="login_box reset_password_box">
				<div class="login-header reset-header">
					<span>RESET</span>
				</div>

				<div class="reset-message">
					<h3>Recovery email sent!<h3>
					<span>Go check your email inbox now and follow the instructions</span>
				</div>

				<div class="register">
					<span>You just remembered? <a href="{% url 'login' %}">Login</a></span>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}