{% comment %} <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Aquí se incluye el token CSRF -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Map</title>
    <!-- CSS Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Script JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p id="respuesta"></p>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div id="mapid" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <!-- Script Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var marker;
        var circle;
        
        function obtenerNombreLugar(lat, lng) {
            $.ajax({
                url: `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`,
                method: 'GET',
                dataType: 'json'
            })
            .done(function(data) {
                if (data.display_name) {
                    alert("Lugar: " + data.display_name);
    
                    // Obtiene el valor del token CSRF de la etiqueta meta
                    const csrfToken = $('meta[name="csrf-token"]').attr('content');
    
                    const datos = {
                        lugar: data.display_name,
                        coordenadas: lat + ", " + lng
                    };
    
                    // Convertir el objeto de datos a JSON
                    const jsonData = JSON.stringify(datos);
    
                    $.ajax({
                        url: '/maps/',
                        method: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrfToken // Agrega el token CSRF como encabezado
                        },
                        data: jsonData
                    })
                    .done(function(response) {
                        $("#respuesta").text(response.lugar);
                    })
                    .fail(function(error) {
                        console.error('Error:', error);
                    });
    
                } else {
                    alert("No se encontró información sobre el lugar.");
                }
            })
            .fail(function(error) {
                console.error('Error al obtener información del lugar:', error);
            });
        }
        
        var map = L.map('mapid').setView([37.174782319895975, -3.5914930701801504], 15);
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 9,
        }).addTo(map);
        
        function onMapClick(e) {
            alert("Coordenadas: " + e.latlng.lat + ", " + e.latlng.lng);
            if (marker) {
                marker.setLatLng(e.latlng);
            } else {
                marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
            }
            if (circle) {
                circle.setLatLng(e.latlng);
            } else {
                circle = L.circle([e.latlng.lat, e.latlng.lng], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 15 // Cambia el radio según lo necesites
                }).addTo(map);
            }
            obtenerNombreLugar(e.latlng.lat, e.latlng.lng);
        }
        
        map.on('click', onMapClick);        
    </script>
    
</body>
</html> {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Map</title>
        <!-- Token CSRF -->
            <meta name="csrf-token" content="{{ csrf_token }}">
        <!-- End Token CSRF -->
        
        <!-- Leaflet -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <!-- End Leaflet -->

        <!-- Script JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- End Script JQuery -->
    </head>
    <body>
    
        <div id="mapid" style="height: 400px;"></div>
        <div id="respuesta"></div>
    
        <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    </body>
</html>