/**************************************************/
/**********LOGIN AND REGISTER AND RESET PASS******/
/************************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './general.scss';

* {
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/**VARIABLES**/

body{
    height:100%;
    position: relative;

}


:root{
    --primary-color: #fff5d1;
    --register-color: pink;
    --second-color: #ffffff;
    --black-color: #000000;
}

/**reusable**/

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover{
    text-decoration: underline;
}

/**wrapper***/

// VARIABLES
$primary-color: #fff5d1;
$register-color: pink;
$second-color: #ffffff;

// WRAPPER STYLES
.wrapper {
  background-image: url('../img/bgLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  &-register {
    background-image: url('../img/bgRegistration.png');
  }
}

// BOX STYLES
.login_box, .register_box {
  position: relative;
  width: 450px;
  backdrop-filter: blur(25px);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  border: 2px solid getColor(lightYellowColor);
  color: $second-color;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

  &.register_box {
    border: 2px solid $register-color;
  }
}

//HEADER STYLES

.login-header, .register-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getColor(lightYellowColor);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
  
    & span {
      font-size: 30px;
      color: black;
      font-family: "Rubik", sans-serif;
    }
  
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 30px;
      height: 30px;
      background: transparent;
    }
  
    &::before {
      left: -30px;
      border-top-right-radius: 50%;
      box-shadow: 15px 0 0 0 $primary-color;
    }
  
    &::after {
      right: -30px;
      border-top-left-radius: 50%;
      box-shadow: -15px 0 0 0 $primary-color;
    }
  
    &.register-header {
      background-color: $register-color;
  
      &::before {
        box-shadow: 15px 0 0 0 $register-color;
      }
  
      &::after {
        box-shadow: -15px 0 0 0 $register-color;
      }
    }
  }


//INPUT STYLES

.input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  
    #user {
      margin-bottom: 10px;
    }
  }
  
  .input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: white;
    padding-inline: 20px 50px;
    border: 2px solid getColor(lightYellowColor);
    border-radius: 30px;
    position: relative;
  
    &::placeholder {
      color: getColor(lightYellowColor);
    }
  
    &:focus ~ .label,
    &:valid ~ .label {
      position: absolute;
      top: -10px;
      left: 20px;
      font-size: 14px;
      background-color: getColor(lightYellowColor);
      border-radius: 30px;
      color: black;
      padding: 0 10px;
      transition: .2s;
    }
  }
  
  .label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
  }


// ICON STYLES

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
  }
  
  // MISCELLANEOUS STYLES

  .remember-forgot, .privacy-policy {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .input-submit {
    width: 100%;
    height: 50px;
    background-color: getColor(lightWhite);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
  
    &:hover {
      background-color: white;
    }
  }
  
  .register, .login {
    text-align: center;
  
    & a {
      font-weight: 500;
    }
  
    &.login {
      margin-top: 20px;
    }

  }

  .reset-password-complete {
    margin: 0 auto;
  }

  .reset-password-complete a{
    background-color: rgb(255, 245, 209);
    padding: 10px 30px;
    border-radius: 20px;
    color: black;
    transition: all 0.2s ease;
    margin: 0 auto;
    &:hover{
      text-decoration: none;
      background-color: white;
    }
  }

  .reset-message h3{
    margin-bottom:30px;
  }

  .form-message-error{
    background-color: rgb(255, 201, 201);
    color: white;
    padding: 15px 30px;
    text-align: center;
    color: black;
    margin-top:15px;
    border-radius:20px;
    border:1px solid red;
    font-family: "Montserrat", sans-serif;
  }

@media only screen and (max-width: 564px ){
    .wrapper{
        padding:20px;
    }

    .login_box{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

.accept-privacy a{
    font-weight: 500;
}

/**********************************/
/**EXCLUSIVE FOR REGISTER FORM**/
/**********************************/

// SPEECH BUBBLE STYLES

.bubble {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    max-width: 300px;
    padding: calc(2 * var(--r) / 3);
    -webkit-mask: radial-gradient(var(--t) at var(--_d) 0, rgba(0, 0, 0, 0) 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat, conic-gradient(at var(--r) var(--r), #000 75%, rgba(0, 0, 0, 0) 0) calc(var(--r) / -2) calc(var(--r) / -2) padding-box, radial-gradient(50% 50%, #000 98%, rgba(0, 0, 0, 0) 101%) 0 0/var(--r) var(--r) space padding-box;
    -webkit-mask-composite: source-over; /* Added for compatibility */
    mask-composite: source-over; /* Added for compatibility */
    mask: radial-gradient(var(--t) at var(--_d) 0, rgba(0, 0, 0, 0) 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat, conic-gradient(at var(--r) var(--r), #000 75%, rgba(0, 0, 0, 0) 0) calc(var(--r) / -2) calc(var(--r) / -2) padding-box, radial-gradient(50% 50%, #000 98%, rgba(0, 0, 0, 0) 101%) 0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(90deg, hsl(10, 82%, 65%) 0%, hsl(290, 79%, 13%) 100%) border-box;
    color: #fff;
  }
  
  .left {
    --_d: 0%;
    border-left: var(--t) solid rgba(0, 0, 0, 0);
    margin-right: var(--t);
    place-self: start;
  }
  
  .imgLuna {
    height: 150px;
    width: 150px;
    background-image: url("../img/lunaCircle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.599));
  }
  
  .lunaBubble {
    display: flex;
    justify-content: center;
    margin-top: 400px;
  }

//SEE PASSWORD

.pass{
    cursor: pointer;
}

/* Media query for screen width below 570px */
@media (max-width: 972px) {
  .lunaBubble{
    display:none;
  }
}

@media (max-width: 472px) {
  .register_box, .login_box{
    width: auto;
  }

  .remember-forgot{
    flex-direction: column;
  }

  .forgot{
    margin-top:8px;
  }
}