@import './general.scss';

body{
    background-color: #1a1a1a;
    color: white;
}

.privacy-policy{
    padding: 100px 50px 50px 50px;
}
h1, h4,h3{
    font-family: "Rubik", sans-serif;
}
h1{
    color: getColor("lightPurple");
}

.part-pp{
    margin-top: 50px;
}

span, h5{
    font-weight: bold;
}

h4{
    color: #ffbdff;
}