{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="../../static/img/favicon.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Selection Screen</title>
        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
        <link href="../../static/css/games.css" rel="stylesheet">


    </head>
    <body>
    
        <div class="wrapper-games">

            <div class="container-games">

                <div class="part-games">
                    <div class="card">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="card-inner">
                            <h1>Creative mode</h1>
                            <div class="photo-games-container">
                                <div class="photo-games"></div>
                            </div>
                            <p>This invites players to embark on a captivating journey through history, where they have the freedom to shape their own historical narratives and immerse themselves in dynamic, historically-inspired environments.</p>
                            <ul>
                                <li>Unrestricted Exploration</li>
                                <li>Boundless Creativity</li>
                                <li>Dynamic Interaction</li>
                                <li>Personalized Customization</li>
                            </ul>
                            <a href="#"><button class="button-games">Go!</button></a>
                        </div>
                    </div>
                </div>
    
                <div class="part-games">
                    <h1>Choose your game mode!</h1>
                </div>
    
                <div class="part-games">
                    <div class="card">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="card-inner">
                            <h1>Trivial mode</h1>
                            <div class="photo-games-container">
                                <div class="photo-games2"></div>
                            </div>
                            <p>Challenge your knowledge with intriguing questions covering various historical events, figures, and civilizations. As youtraverse the map, you'll encounter historical landmarks and engage in a quiz-like experience.</p>
                            <ul>
                                <li>Cognitive Challenge</li>
                                <li>Historical Depth</li>
                                <li>Educational Focus</li>
                                <li>Chronological Diversity</li>
                                <li>Narrative Enrichment</li>
                            </ul>
                            <a href="#"><button class="button-games">Go!</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </body>
</html>