{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="../../static/img/favicon.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../../static/js/main.js" defer></script>
        <title>Demo title here</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
        <link href="../../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="parallax">
            <header class="primary-header">
                <div class="wrapper">
                    <div class="primary-header__inner">
                        <div class="logo">
                            <img src="../../static/img\Logo.webp" alt="">
                        </div>
                        <nav class="primary-nav">
                            <ul role="list">
                                <li><a href="#">Who are we</a></li>
                                <li><a href="#">Game</a></li>
                                <li><a href="#">Founders</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </nav>
                        <div class="flex-group" aria-label="social links">
                            <a href="#">X</a>
                            <a href="#">IG</a>
                            <a href="#">YT</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="hero">
                <div class="wrapper">
                    <h1 class="hero__title">
                        <span>Temporal</span> Unraveling History's Riddles!
                    </h1>
                    <button class="button">Play now</button>
                </div>
            </div>
            <img class="parallax__bg" src="../../static/img/bg.jpg" alt="">
            <img class="parallax__dust" src="../../static/img/dust.webp" alt="">
            <!-- <img class="parallax__foreground-back" src="../../static/img/foreground-back.webp" alt="">
            <img class="parallax__foreground-front" src="../../static/img/foreground-front.webp" alt=""> -->
            <img class="parallax__jax" src="../../static/img/jax.webp" alt="">
            <img class="parallax__luna" src="../../static/img/luna.webp" alt="">
            <img class="parallax__manny" src="../../static/img/manny.webp" alt="">
            <img class="parallax__rays" src="../../static/img/rays.webp" alt="">
        </div>
        <main class="main-content">
            <div class="wrapper">
                {% comment %} <div class="who-are-we-container">
                    <p>Who are we</p>
                </div>
                <div class="game-explain-container">
                    <p>Explaning the game</p>
                </div>
                <div class="founders-container">
                    <p>Meet the founders</p>
                </div>
                <div class="get-in-touch-container">
                    <p>Contact</p>
                </div>
                <div class="support-us-container">
                    <p>Support us</p>
                </div> {% endcomment %}
            </div>
            <footer>
                <p>Footer</p>
            </footer>
        </main>
    </body>
</html>