{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Login</title>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
        <link href="{% static 'css/authStyles.css' %}" rel="stylesheet">
        <link href="{% static 'css/authStyles.css' %}" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static 'css/particles.css' %}" rel='stylesheet'>
        <link href="{% static 'js/login.js' %}" rel='stylesheet'>
    </head>
    <body>
    
        <div id="particle-container">
            <!-- Partículas -->
        </div>

        <div class="wrapper">
            <form class="text-center" method="POST">
                {% csrf_token %}
                <div class="login_box">
                    <div class="login-header">
                        <span>LOG IN</span>
                    </div>
                    <div class="input_box">
                        <input type="text" name="user" id="user" class="input-field" required>
                        <label for="user" class="label">Username</label>
                        <i class="bx bx-user icon"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" name="pass" id="pass" class="input-field" required>
                        <label for="pass" class="label">Password</label>
                        <i class="bx bx-lock-alt icon"></i>
                       
                    </div>
                    <div class="remember-forgot">
                        <div class="remember-me">
                            <input type="checkbox" id="remember" name="remember"></input>
                            <label for="remember">Remember me</label>
                        </div>
                        <div class="forgot">
                            <a href="{% url 'reset_password' %}">Forgot password?</a>
                        </div>
                    </div>
                    <div class="input_box">
                        <input type="submit" class="input-submit" value="login"></input>
                    </div>
                    <div class="register">
                        <span>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </body>
</html>
