{% extends '../Base/base-registration.html' %}
{% load static %}

{% block title %}
	Registration
{% endblock title %}

{% block content %}
	<div class="wrapper wrapper-register">

		<div class="item-register">
			<div class="lunaBubble">
				<div class="imgLuna"></div>
				<div class="bubble left">Join us to unlock access to our captivating blog and immersive games. Dive into the depths of history with us!</div>
			</div> 
		</div>

		<div class="item-register">
			<form class="text-center" method="POST">
			{% csrf_token %}

				<div class="register_box">
					<div class="register-header">
						<span>JOIN!</span>
					</div>
				
					<div class="input_box">
						<input type="text" name="user" id="user" class="input-field" required>
						<label for="user" class="label">Username</label>
						<i class="bx bx-user icon"></i>
					</div>
		
					<div class="input_box">
						<input type="email" name="email" id="email" class="input-field" required>
						<label for="email" class="label">Email</label>
						<i class='bx bx-spreadsheet icon'></i>
					</div>
			
					<div class="input_box">
						<input type="password" name="pass" id="pass" class="input-field" required>
						<label for="pass" class="label">Password</label>
						<i class="bx bx-lock-alt icon"></i>
					</div>
		
					<div class="input_box">
						<input type="password" name="confirm-pass" id="confirm-pass" class="input-field" required>
						<label for="confirm-pass" class="label">Repeat the password</label>
						<i class='bx bxs-lock-alt icon'></i>
					</div>
		
					<div class="input_box">
						<input type="submit" class="input-submit" value="register"></input>
					</div>

					<div class="privacy-policy">
						<div class="accept-privacy">
							<input type="checkbox" id="accept-privacy" name="accept-privacy"></input>
							<label for="accept-privacy">I accept the <a href="{% url 'privacyPolicy' %}">Privacy policy</a></label>
						</div>
					</div>

					<div class="login">
						<span>Already registered? <a href="{% url 'login' %}">Login</a></span>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	// Add an eye icon at the end of the password field
	$('.input_box').append('<i class="bx bx-show icon toggle-password"></i>');

	// Initially hide the eye icon and set its right property
	$('.toggle-password').css({
		'display': 'none',
		'right': '50px'
	});

	// Show the eye icon when the user starts typing in the password field
	$('.input-field[type="password"]').on('input', function() {
		$(this).siblings('.toggle-password').show();
	});

	// Hide the eye icon when the user stops typing
	$('.input-field[type="password"]').on('keyup', function() {
		if($(this).val() === '') {
			$(this).siblings('.toggle-password').hide();
		}
	});
	// Toggle the type attribute of the password field between 'text' and 'password'
	$('.toggle-password').click(function() {
		var input = $(this).siblings('input');
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).attr("class", "bx bx-hide icon toggle-password"); // change the eye icon to 'hide'
		} else {
			input.attr("type", "password");
			$(this).attr("class", "bx bx-show icon toggle-password"); // change the eye icon back to 'show'
		}
	});
	</script>
{% endblock content %}

{% block extra_footer %}



{% endblock extra_footer %}