{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Login</title>
        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
        <link href="{% static 'css/authStyles.css' %}" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static 'css/particles.css' %}" rel='stylesheet'>
        <link href="{% static 'js/login.js' %}" rel='stylesheet'>


    </head>
    <body>
    
        <div id="particle-container">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>

        <div class="wrapper wrapper-reset_password">

          
            <form class="text-center" method="POST" name="csrfmiddlewaretoken">

                {% csrf_token %}

                <div class="login_box reset_password_box">
                    <div class="login-header reset-header">
                        <span>RESET</span>
                    </div>

                    <div class="reset-message">
                        <h3>Recovery email sent!<h3>
                        <span>Go check your email inbox now and follow the instructions</span>
                    </div>

                    
                    <div class="register">
                        <span>You just remembered? <a href="{% url 'login' %}">Login</a></span>
                    </div>
                </div>
            </form>

        </div>
    </body>
</html>