{% extends '../Base/base-registration.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="wrapper">
        {% if validlink %}
            <form class="text-center" method="POST">
            {% csrf_token %}
                <div class="login_box">
                
                    <div class="login-header">
                        <span>NEW</span>
                    </div>
                    
                    <span>Set your new password. Don't forget it this time!</span>

                    <div class="input_box">
                        <input type="password" name="new_password1" id="new_password1" class="input-field" required>
                        <label for="new_password1" class="label">New password</label>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>

                    <div class="input_box">
                        <input type="password" name="new_password2" id="new_password2" class="input-field" required>
                        <label for="new_password2" class="label">Repeat new password</label>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>

                    <div class="input_box">
                        <input type="submit" class="input-submit" value="Reset password">
                    </div>
                </div>
            </form>
        {% else %}
        <div class="register">
            <span class="reset-password-complete"><a href="{% url 'login' %}">Login</a></span>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
    // Add an eye icon at the end of the password field
    $('.input_box').append('<i class="bx bx-show icon toggle-password"></i>');

    // Initially hide the eye icon and set its right property
    $('.toggle-password').css({
        'display': 'none',
        'right': '50px'
    });

    // Show the eye icon when the user starts typing in the password field
    $('.input-field[type="password"]').on('input', function() {
        $(this).siblings('.toggle-password').show();
    });

    // Hide the eye icon when the user stops typing
    $('.input-field[type="password"]').on('keyup', function() {
        if($(this).val() === '') {
            $(this).siblings('.toggle-password').hide();
        }
    });
    // Toggle the type attribute of the password field between 'text' and 'password'
    $('.toggle-password').click(function() {
        var input = $(this).siblings('input');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(this).attr("class", "bx bx-hide icon toggle-password"); // change the eye icon to 'hide'
        } else {
            input.attr("type", "password");
            $(this).attr("class", "bx bx-show icon toggle-password"); // change the eye icon back to 'show'
        }
    });

    </script>
    
{% endblock content %}

{% block extra_footer %}

{% endblock extra_footer %}