{% extends '../Base/base-registration.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="wrapper-reset">
        <div class="logo-reset">
            <div class="img-reset"></div>
            <div class="name-reset"><p>Temporal</p></div>
        </div>
        <div class="text-reset-password">
            <h1>Reset password requested</h1>
            <p>Trouble signing in?
            Resetting your password is easy.
            If you didn’t make this request, then you can ignore this email 🙂
            <br>
            If you have any comments or questions don’t hesitate to reach us.
            <br>
            Please feel free to respond to this email. It was sent from a monitored email address, and we would love to hear from you</p>
        <p>You can now log in here: <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
{% endblock content %}