{% extends '../Base/base-registration.html' %}
{% load static %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
	<div class="wrapper wrapper-reset_password">
		<form class="text-center" method="POST">
		{% csrf_token %}
			<div class="login_box reset_password_box">
				<div class="login-header reset-header">
					<span>RESET</span>
				</div>

				<div class="reset-message">
					<span>Write the email you registered with and we'll send you an email with the recovery instructions.</span>
				</div>

				<div class="input_box">
					<input type="email" name="email" id="email" class="input-field" required>
					<label for="email" class="label">Email</label>
					<i class='bx bx-envelope icon'></i>
				</div>
				
				<div class="input_box">
					<input type="submit" class="input-submit" value="RECOVER PASSWORD"></input>
				</div>
				
				<div class="register">
					<span>You just remembered? <a href="{% url 'login' %}">Login</a></span>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}